<?xml version="1.0" encoding="UTF-8" ?>

<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{2} - %msg%n"/>
        </Console>
        <RollingFile name="rolling-file" fileName="EDMMA.log" filePattern="Program-Name-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d [%t] %-5level %logger{2}.%method:%line - %msg%n"/>
            <SizeBasedTriggeringPolicy size="1000 KB"/>
            <DefaultRolloverStrategy max="4"/>
        </RollingFile>
        <RollingFile name="FILE" fileName="hibernate.log" filePattern="hibernate-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d [%t] %-5level %logger{5}.%method:%line - %msg%n"/>
            <SizeBasedTriggeringPolicy size="1000 KB"/>
            <DefaultRolloverStrategy max="4"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <logger name="org.hibernate">
            <level value="ALL" />
            <AppenderRef ref="FILE"/>
        </logger>
        <Root level="info">
            <AppenderRef ref="console" />
            <AppenderRef ref="rolling-file" />
        </Root>
    </Loggers>
</Configuration>